html{
    font-family: Consola;
}

header{
    color: #FF9100;
    background-color: #098609;
    text-align: center;
    font-size: 25px;
}

body{
    background-color: #094D03;
    text-align: center;
    color: white;
}

table{
    text-align: center;
}

.content{
    color: white;
    
    text-align: center;
    
    font-size: 25px;
    
    max-width: 1600px;    
    
    padding: 1em;
}

td {
    text-align: center;
    font-size: 15px;
    
    color: white;
    
    padding: 0 40px 40px 40px;

    }
    
th {
    
    font-size: 25px;
    
    color: white;
    
    }



